/* Importing a Google font for the calculator's text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global styles for padding, margin, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Applying the Poppins font globally */
}

/* Styling the body to center the calculator on the screen */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452); /* Background gradient */
}

/* Styling the calculator container */
.calculator {
    border: 1px solid #717377; /* Light border around the calculator */
    padding: 20px;
    border-radius: 16px; /* Rounded corners for the calculator */
    background: transparent; /* Transparent background */
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5); /* Drop shadow for 3D effect */
}

/* Styling the input box where the expression and result are displayed */
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent; /* Transparent background */
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1); /* Subtle shadow for 3D effect */
    font-size: 40px; /* Large font size for better readability */
    text-align: right; /* Align text to the right */
    cursor: pointer;
    color: #ffffff; /* White text color */
}

/* Styling the placeholder text within the input box */
input::placeholder {
    color: #ffffff; /* White color for the placeholder */
}

/* Styling the calculator buttons */
button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%; /* Rounded, circular buttons */
    background: transparent; /* Transparent background */
    color: #ffffff; /* White text color */
    font-size: 20px; /* Button text size */
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1); /* Soft shadow effect */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Styling the equal button with a distinct color */
.equalBtn {
    background-color: #fb7c14; /* Orange color for the equal button */
}

/* Styling the operator buttons with a distinct color */
.operator {
    color: #6dee0a; /* Green color for operator buttons */
}
